#### SQLite 
    - RDBMS(관계형 데이터 베이스)
    - 서버가 아니라 응용 프로그램에 넣고 사용하는 가벼운 데이터베이스
    - python, 핸드폰, 스프링 부트

In [1]:
import sqlite3
import datetime

print("sqlite3 version",sqlite3.version)
print("sqlite3 version",sqlite3.sqlite_version)

now = datetime.datetime.now()  # 모듈명.클래스명.메소드명
nowDateTime = now.strftime("%Y-%m-%d %H:%M:%S")
print("date",nowDateTime)

sqlite3 version 2.6.0
sqlite3 version 3.42.0
date 2023-06-23 10:41:15

In [2]:
from datetime import datetime
print(datetime.now())

2023-06-23 10:46:32.570454

#### 데이터베이스 생성

In [3]:
conn = sqlite3.connect("/source/pythonsource/resource/test.db",isolation_level=None)

In [4]:
cursor = conn.cursor()

In [7]:
cursor.execute("create table if not exists users(id integer primary key, username text, email text,"
               " phone text, website text, regdate text)")

In [29]:
cursor.execute("insert into users(id,username,email,phone,website,regdate) "
               "values(1, 'Kim', 'kim@naver.com', '010-1234-1234','kim.com',?)",(nowDateTime,))

In [30]:
cursor.execute("insert into users(id,username,email,phone,website,regdate) "
               "values(?,?,?,?,?,?)",(2,'Park','Park@naver.com', '010-4567-4567','Park.com',nowDateTime))

In [31]:
userList = ((3,'Hong','Hong@naver.com', '010-4698-4567','Hong.com',nowDateTime),
            (4,'Cho','Cho@naver.com', '010-7589-1234','Cho.com',nowDateTime),
            (5,'Yoo','Yoo@naver.com', '010-6987-4567','Yoo.com',nowDateTime))

cursor.executemany("insert into users(id,username,email,phone,website,regdate) "
                   "values(?,?,?,?,?,?)",userList)

In [24]:
cursor.execute("delete from users")

In [28]:
# rowcount : 삭제된 행 개수

cursor.execute("delete from users").rowcount

5

> 데이터 조회
    - fetchone(), fetchmany(), fetchall()

In [33]:
cursor.execute("select * from users")

In [34]:
cursor.fetchone()

(1, 'Kim', 'kim@naver.com', '010-1234-1234', 'kim.com', '2023-06-23 10:41:15')

In [35]:
cursor.fetchmany(size=2)

[(2,
  'Park',
  'Park@naver.com',
  '010-4567-4567',
  'Park.com',
  '2023-06-23 10:41:15'),
 (3,
  'Hong',
  'Hong@naver.com',
  '010-4698-4567',
  'Hong.com',
  '2023-06-23 10:41:15')]

In [36]:
cursor.fetchall()

[(4,
  'Cho',
  'Cho@naver.com',
  '010-7589-1234',
  'Cho.com',
  '2023-06-23 10:41:15'),
 (5,
  'Yoo',
  'Yoo@naver.com',
  '010-6987-4567',
  'Yoo.com',
  '2023-06-23 10:41:15')]

In [38]:
cursor.execute("select * from users")

for c in cursor.fetchall():
    print(c)

(1, 'Kim', 'kim@naver.com', '010-1234-1234', 'kim.com', '2023-06-23 10:41:15')
(2, 'Park', 'Park@naver.com', '010-4567-4567', 'Park.com', '2023-06-23 10:41:15')
(3, 'Hong', 'Hong@naver.com', '010-4698-4567', 'Hong.com', '2023-06-23 10:41:15')
(4, 'Cho', 'Cho@naver.com', '010-7589-1234', 'Cho.com', '2023-06-23 10:41:15')
(5, 'Yoo', 'Yoo@naver.com', '010-6987-4567', 'Yoo.com', '2023-06-23 10:41:15')

In [39]:
for c in cursor.execute("select * from users order by id desc"):
    print(c)

(5, 'Yoo', 'Yoo@naver.com', '010-6987-4567', 'Yoo.com', '2023-06-23 10:41:15')
(4, 'Cho', 'Cho@naver.com', '010-7589-1234', 'Cho.com', '2023-06-23 10:41:15')
(3, 'Hong', 'Hong@naver.com', '010-4698-4567', 'Hong.com', '2023-06-23 10:41:15')
(2, 'Park', 'Park@naver.com', '010-4567-4567', 'Park.com', '2023-06-23 10:41:15')
(1, 'Kim', 'kim@naver.com', '010-1234-1234', 'kim.com', '2023-06-23 10:41:15')

In [41]:
cursor.execute("select * from users where id=?",(3,))
cursor.fetchall()

[(3,
  'Hong',
  'Hong@naver.com',
  '010-4698-4567',
  'Hong.com',
  '2023-06-23 10:41:15')]

In [42]:
cursor.execute("select * from users where id=%d" % 4)
cursor.fetchall()

[(4,
  'Cho',
  'Cho@naver.com',
  '010-7589-1234',
  'Cho.com',
  '2023-06-23 10:41:15')]

In [43]:
cursor.execute("select * from users where id in (?,?)",(3,5))
cursor.fetchall()

[(3,
  'Hong',
  'Hong@naver.com',
  '010-4698-4567',
  'Hong.com',
  '2023-06-23 10:41:15'),
 (5,
  'Yoo',
  'Yoo@naver.com',
  '010-6987-4567',
  'Yoo.com',
  '2023-06-23 10:41:15')]

In [44]:
cursor.execute("select * from users where id in (%d,%d)" % (3,5))
cursor.fetchall()

[(3,
  'Hong',
  'Hong@naver.com',
  '010-4698-4567',
  'Hong.com',
  '2023-06-23 10:41:15'),
 (5,
  'Yoo',
  'Yoo@naver.com',
  '010-6987-4567',
  'Yoo.com',
  '2023-06-23 10:41:15')]

In [45]:
cursor.execute("update users set username = ? where id = ?",('Young',2))

In [47]:
cursor.execute("update users set username = '%s' where id = '%d'" % ('Park',2))

In [48]:
cursor.execute("delete from users where id=?",(5,))

In [49]:
cursor.execute("delete from users where id=%d" % 4)