### [참고] <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Pandas Cheat Sheet</a>

#### https://pandas.pydata.org/docs/user_guide/text.html

**str 메소드**
- pandas.core.strings.StringMethods 의 별칭
- 호출할 수 없기 때문에 괄호를 사용하지 않음

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
s = pd.Series(
    ["suho","AA",np.nan,"rabbit"]
)
s

0      suho
1        AA
2       NaN
3    rabbit
dtype: object

#### str : 메소드이긴 하나 호출할 수 없기 때문에 괄호를 사용하지 않음

#### 1) lower() / upper() / len()

In [3]:
s.str.lower()

0      suho
1        aa
2       NaN
3    rabbit
dtype: object

In [5]:
s.str.upper()

0      SUHO
1        AA
2       NaN
3    RABBIT
dtype: object

In [6]:
s.str.len()

0    4.0
1    2.0
2    NaN
3    6.0
dtype: float64

#### 2) strip()

In [7]:
s = pd.Series(
    ["suho    ","AA",np.nan,"    rabbit"]
)
s

0      suho
1            AA
2           NaN
3        rabbit
dtype: object

In [8]:
s.str.strip()

0      suho
1        AA
2       NaN
3    rabbit
dtype: object

In [11]:
df = pd.DataFrame(np.random.randn(2,2), columns=["Column A ", " Column B"])
df

   Column A    Column B
0  -0.945493   0.508453
1  -0.026762  -0.779340

In [12]:
df.columns

Index(['Column A ', ' Column B'], dtype='object')

In [13]:
df.columns.str.strip()

Index(['Column A', 'Column B'], dtype='object')

In [14]:
df.columns.str.lower()

Index(['column a ', ' column b'], dtype='object')

In [15]:
# 공백제거, 전체 소문자, column_a
df.columns.str.strip().str.lower().str.replace(" ","_")

Index(['column_a', 'column_b'], dtype='object')

#### 3) split()

In [16]:
ser1 = pd.Series(["ha_a_b","hi_c_d", np.nan, "ho_e_f"])
ser1

0    ha_a_b
1    hi_c_d
2       NaN
3    ho_e_f
dtype: object

In [17]:
ser1.str.split("_")

0    [ha, a, b]
1    [hi, c, d]
2           NaN
3    [ho, e, f]
dtype: object

In [18]:
str_list = ser1.str.split("_")

In [20]:
str_list[0]

['ha', 'a', 'b']

* **expand=True** 결과를 데이터 프레임으로 돌려줌

In [21]:
ser1.str.split("_",expand=True)

     0    1    2
0   ha    a    b
1   hi    c    d
2  NaN  NaN  NaN
3   ho    e    f

#### 4) replace()

In [22]:
str1 = pd.Series(["Suho","bAAa",np.nan,"cute_dog"])
ser1

0    ha_a_b
1    hi_c_d
2       NaN
3    ho_e_f
dtype: object

In [24]:
ser1.str.replace("^.a|dog","***",case=False,regex=True)

0    ha_a_b
1    hi_c_d
2       NaN
3    ho_e_f
dtype: object

- ^는 입력라인의 시작
- .a 는 맨 첫 문자를 포함하고 a로 끝나는 부분을 매칭
- | or 의 의미
- dog에 해당하는 부분 매칭
- case=False 대소문자 구분 안함
- regex=True 전달된 패턴이 정규식

#### 5) cat : 텍스트 이어 붙이기

In [36]:
s = pd.Series(["ha", "hi", "ho"])

In [37]:
s.str.cat()

'hahiho'

In [38]:
s.str.cat(sep=",")

'ha,hi,ho'

### [실습2] 일기 형식의 데이터 가공

In [28]:
day_plan = [
    "1st_seq : getting up at 05:45am",
    "2nd_seq : swimming from 06:00 to 07:00am",
    "3nd_seq : my morining food is american style",
    "4nd_seq : Writing some proposal from 02:00pm to 06:00pm",
    "5nd_seq : Arriving at jongGak at 07:00pm",
    "6nd_seq : Fun with friends enjoy beer till 09:30pm",
    '7nd_seq : My house at 10:30pm and sleeping by 12:00pm'
]
df = pd.DataFrame(day_plan, columns=["schedule"])
df

                                            schedule
0                    1st_seq : getting up at 05:45am
1           2nd_seq : swimming from 06:00 to 07:00am
2       3nd_seq : my morining food is american style
3  4nd_seq : Writing some proposal from 02:00pm t...
4           5nd_seq : Arriving at jongGak at 07:00pm
5  6nd_seq : Fun with friends enjoy beer till 09:...
6  7nd_seq : My house at 10:30pm and sleeping by ...

In [30]:
df.dtypes

schedule    object
dtype: object

In [31]:
# split()

df["schedule"].str.split()

0               [1st_seq, :, getting, up, at, 05:45am]
1     [2nd_seq, :, swimming, from, 06:00, to, 07:00am]
2    [3nd_seq, :, my, morining, food, is, american,...
3    [4nd_seq, :, Writing, some, proposal, from, 02...
4     [5nd_seq, :, Arriving, at, jongGak, at, 07:00pm]
5    [6nd_seq, :, Fun, with, friends, enjoy, beer, ...
6    [7nd_seq, :, My, house, at, 10:30pm, and, slee...
Name: schedule, dtype: object

In [32]:
# split 이후 문자열 개수

df["schedule"].str.split().str.len()

0     6
1     7
2     8
3     9
4     7
5     9
6    10
Name: schedule, dtype: int64

In [33]:
# 특정 문자열 포함 여부
df["schedule"].str.contains("My")

0    False
1    False
2    False
3    False
4    False
5    False
6     True
Name: schedule, dtype: bool

In [34]:
# count()
df["schedule"].str.count("\d")

0    5
1    9
2    1
3    9
4    5
5    5
6    9
Name: schedule, dtype: int64

In [35]:
df["schedule"].str.findall("\d")

0                [1, 0, 5, 4, 5]
1    [2, 0, 6, 0, 0, 0, 7, 0, 0]
2                            [3]
3    [4, 0, 2, 0, 0, 0, 6, 0, 0]
4                [5, 0, 7, 0, 0]
5                [6, 0, 9, 3, 0]
6    [7, 1, 0, 3, 0, 1, 2, 0, 0]
Name: schedule, dtype: object